 
body{
     background-color:white;
    padding: 3%;
    margin: 3%;
    
}
#container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

h1{
    color:orangered;
    
}

input{
    color:black;
    
}
label{
    color:black;
    
}
.mygrid{
    color: orangered;
    grid-column: 1;
    grid-row: 1;
}

 

 
.oldEntries{
    color: blue;
    border: blue 2px solid;
    grid-column: 2;
    grid-row: 2;
    margin-bottom: 300px;
} 